html, body{
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #39b54a;
  font-family: "montserrat-medium", sans-serif;
}

#mapid{
  height: 70%;
  width: 100%;
  position: absolute;
  top: 0;
  right-side-side: 0;
}

.user-block{
  position: relative;
  width: 100%;
  height: 30%;
  top: 70%;
  display: flex;
  align-items: center;
}

.user-block .instructions{
  padding: 1%;
}

.user-block .left-side{
  text-align: center;
  width: 25%;
}

.user-block .forecast-button{
  padding: 1%;
}

.user-block .instructions span{
  font-size: ;
}

.btn{
  background-color: black;
  border: 2px solid black;
  height: 30px;
  width: 100px;
  font-size: 1.1rem;
  letter-spacing: .2rem;
  color: white;
  text-align: center;
}

.user-block .btn:focus{
  outline: none;
  color: white;
}

.user-block .btn:hover{
  color: white;
}

.user-block .right-side{
  display: flex;
  width: 75%;
  text-align: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.user-block .right-side .day{
  width: 30%;
  border-left: 1px solid rgba(210, 215, 211, 1);
  text-align: center;
}

.user-block .right-side .day .val{
  font-size: 6.7rem;
  font-weight: bold;
  color: white;
}

.user-block .right-side .day .date, .label{
  font-size: 1.1rem;
  color: black;
}

.menu-full .hamburger > div {
  background: #39b54a;
}

.contain:hover span{
  color: black;
}

@media only screen and (max-width: 499px){
  #mapid{
    height: 40%;
    width: 100%;
  }

  .user-block{
    position: relative;
    top: 40%;
    height: 60%;
    display: block;
  }

  .user-block .left-side{
    float: left;
    width: 100%;
    clear: left;
  }

  .user-block .right-side{
    width: 100%;
    display: block;
    float: left;
    clear: left;
  }

  .user-block .right-side .day{
    margin:0 auto;
    border-top: 1px solid rgba(210, 215, 211, 1);
    border-left: 0;
  }
}
