.menu-full {
  position: fixed;
  top: 5%;
  right: 3%;
  z-index: 1000;
}

.contain{
  width: 150px;
  height: 50px;
  display: flex;
}

.menu-full .toggler {
  position: fixed;
  top: 5%;
  right: 3%;
  z-index: 2;
  cursor: pointer;
  width: 120px;
  height: 50px;
  opacity: 0;
}

.menu-full .hamburger {
  position: absolute;
  top: 5%;
  right: 3%;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-full .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.menu-full .hamburger > div::before,
.menu-full .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

span{
  font-family: "montserrat-medium", sans-serif;
  font-size: 1.1rem;
  letter-spacing: .3rem;
  color: white;
  margin-top: 25px;
  margin-left: 20px;
  transition: 1s;
}

.contain:hover span{
  color: black;
}

/* Moves Line Down */
.menu-full .hamburger > div::after {
  top: 10px;
}

.sidenav{
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 10000;
  top:0;
  right:0;
  background-color: black;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.sidenav a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  font-family: "montserrat-medium", sans-serif;
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}


.sidenav a:hover{
  text-decoration: none;
  color: white;
}

.sidenav .closebtn{
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 25px;
  margin-left: 50px;
}

label{
  position: absolute;
  top: 25px;
  font-family: "montserrat-medium", sans-serif;
  font-size: 1.3rem;
  letter-spacing: .3rem;
  color: #39b54a;
  margin-left: 30px;
}
