{% extends "menu.html" %}
{% block css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/forecast.css') }}">
<script src = "{{url_for('static', filename='js/forecast.js')}}">

</script>
<title>Forecast</title>
{% endblock %}

{% block content %}
<div id = "mapid">
</div>
<div class="user-block">
  <div class="left-side">
    <div class="instructions">
      <span>Select a location above <br> and then click forecast below</span>
    </div>
    <div class="forecast-button">
      <form>
        <input id = "val" type="hidden" name="location" value="">
        <button id = "forecast" class = "btn" type="submit" name="button">Forecast</button>
      </form>
    </div>
  </div>
  <div class="right-side">
    <div class="day">
      <div>
        <span class = "date"></span>
      </div>
      <div>
        <span id = "day1" class = "val">0</span>
      </div>
      <div>
        <span class = "label">kW/m<sup>2</sup></span>
      </div>
    </div>
    <div class="day">
      <div>
        <span class = "date"></span>
      </div>
      <div>
        <span id = "day2" class = "val">0</span>
      </div>
      <div>
        <span class = "label">kW/m<sup>2</sup></span>
      </div>
    </div>
    <div class="day">
      <div>
        <span class = "date"></span>
      </div>
      <div>
        <span id = "day3" class = "val">0</span>
      </div>
      <div>
        <span class = "label">kW/m<sup>2</sup></span>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var map = L.map('mapid', {minZoom: 2}).setView([37.8,-98.6 ], 4);
    document.body.onload = function loadmap(){
      L.tileLayer('https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png', {
   attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
   subdomains: 'abcd',
   maxZoom: 19
}).addTo(map);
  };

  var greenIcon = new L.Icon({
    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41]
  });

  var marker = {};
  map.on('click', function(e){
    if (marker != undefined){
      map.removeLayer(marker)
    }
    marker = L.marker(e.latlng, {icon: greenIcon}).addTo(map);
    latitude = Math.floor(e.latlng.lat);
    latitude = e.latlng.lat.toFixed(2).toString();
    longitude = e.latlng.lng.toFixed(2).toString();
    document.getElementById('val').value =
      JSON.stringify({lat: latitude, long: longitude});
  });
</script>
{% endblock %}
